In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('Train.csv')
df_test=pd.read_csv('Test.csv')

In [3]:
df_train

,ID,stock,Date,Open,High,Low,Close,holiday,unpredictability_score
0,id_0,0,2017-01-03,82.9961,82.7396,82.9144,82.8101,1,7
1,id_1,0,2017-01-04,83.1312,83.1669,83.3779,82.9690,0,7
2,id_2,0,2017-01-05,82.6622,82.7634,82.8984,82.8578,0,7
3,id_3,0,2017-01-06,83.0279,82.7950,82.8425,82.7385,0,7
4,id_4,0,2017-01-09,82.3761,82.0828,82.1473,81.8641,0,7
...,...,...,...,...,...,...,...,...,...
73434,id_77616,102,2019-10-25,129.7152,130.4687,130.7243,131.0068,0,6
73435,id_77617,102,2019-10-28,131.2933,131.5415,132.3108,131.8185,0,6
73436,id_77618,102,2019-10-29,131.1130,131.6313,131.7669,132.0440,0,6
73437,id_77619,102,2019-10-30,131.6991,131.0926,131.8122,131.6381,0,6
73438,id_77620,102,2019-10-31,131.2933,130.6886,130.9373,130.7362,0,6

In [4]:
df_train.drop(columns=['ID','Open','High','Low'],inplace=True)
df_train

       stock        Date     Close  holiday  unpredictability_score
0          0  2017-01-03   82.8101        1                       7
1          0  2017-01-04   82.9690        0                       7
2          0  2017-01-05   82.8578        0                       7
3          0  2017-01-06   82.7385        0                       7
4          0  2017-01-09   81.8641        0                       7
...      ...         ...       ...      ...                     ...
73434    102  2019-10-25  131.0068        0                       6
73435    102  2019-10-28  131.8185        0                       6
73436    102  2019-10-29  132.0440        0                       6
73437    102  2019-10-30  131.6381        0                       6
73438    102  2019-10-31  130.7362        0                       6

[73439 rows x 5 columns]

In [5]:
df_test

            ID  stock        Date  holiday  unpredictability_score
0       id_713      0  2019-11-01        0                       7
1       id_714      0  2019-11-04        0                       7
2       id_715      0  2019-11-05        0                       7
3       id_716      0  2019-11-06        0                       7
4       id_717      0  2019-11-07        0                       7
...        ...    ...         ...      ...                     ...
4218  id_77657    102  2019-12-24        0                       6
4219  id_77658    102  2019-12-26        1                       6
4220  id_77659    102  2019-12-27        0                       6
4221  id_77660    102  2019-12-30        0                       6
4222  id_77661    102  2019-12-31        0                       6

[4223 rows x 5 columns]

In [6]:
df_test.drop(columns=['ID'],inplace=True)

In [7]:
df_train['Date']=pd.to_datetime(df_train['Date'])
df_train['Date'][0]

Timestamp('2017-01-03 00:00:00')

In [8]:
df_test['Date']=pd.to_datetime(df_test['Date'])

In [18]:
df_train['Date'][0].day

3

In [19]:
Year=[]
Month=[]
Day=[]
for i in range(len(df_train)):
    Year.append(df_train['Date'][i].year)
    Month.append(df_train['Date'][i].month)
    Day.append(df_train['Date'][i].day)

In [20]:
df_train['Year']=Year
df_train['Month']=Month
df_train['Day']=Day

df_train

,stock,Date,Close,holiday,unpredictability_score,Year,Month,Day
0,0,2017-01-03,82.8101,1,7,2017,1,3
1,0,2017-01-04,82.9690,0,7,2017,1,4
2,0,2017-01-05,82.8578,0,7,2017,1,5
3,0,2017-01-06,82.7385,0,7,2017,1,6
4,0,2017-01-09,81.8641,0,7,2017,1,9
...,...,...,...,...,...,...,...,...
73434,102,2019-10-25,131.0068,0,6,2019,10,25
73435,102,2019-10-28,131.8185,0,6,2019,10,28
73436,102,2019-10-29,132.0440,0,6,2019,10,29
73437,102,2019-10-30,131.6381,0,6,2019,10,30
73438,102,2019-10-31,130.7362,0,6,2019,10,31

In [21]:
df_train.drop(columns='Date',inplace=True)

In [22]:
Year=[]
Month=[]
Day=[]
for i in range(len(df_test)):
    Year.append(df_test['Date'][i].year)
    Month.append(df_test['Date'][i].month)
    Day.append(df_test['Date'][i].day)

In [23]:
df_test['Year']=Year
df_test['Month']=Month
df_test['Day']=Day

df_test

      stock       Date  holiday  unpredictability_score  Year  Month  Day
0         0 2019-11-01        0                       7  2019     11    1
1         0 2019-11-04        0                       7  2019     11    4
2         0 2019-11-05        0                       7  2019     11    5
3         0 2019-11-06        0                       7  2019     11    6
4         0 2019-11-07        0                       7  2019     11    7
...     ...        ...      ...                     ...   ...    ...  ...
4218    102 2019-12-24        0                       6  2019     12   24
4219    102 2019-12-26        1                       6  2019     12   26
4220    102 2019-12-27        0                       6  2019     12   27
4221    102 2019-12-30        0                       6  2019     12   30
4222    102 2019-12-31        0                       6  2019     12   31

[4223 rows x 7 columns]

In [24]:
df_test.drop(columns='Date',inplace=True)

In [26]:
df_train

       stock     Close  holiday  unpredictability_score  Year  Month  Day
0          0   82.8101        1                       7  2017      1    3
1          0   82.9690        0                       7  2017      1    4
2          0   82.8578        0                       7  2017      1    5
3          0   82.7385        0                       7  2017      1    6
4          0   81.8641        0                       7  2017      1    9
...      ...       ...      ...                     ...   ...    ...  ...
73434    102  131.0068        0                       6  2019     10   25
73435    102  131.8185        0                       6  2019     10   28
73436    102  132.0440        0                       6  2019     10   29
73437    102  131.6381        0                       6  2019     10   30
73438    102  130.7362        0                       6  2019     10   31

[73439 rows x 7 columns]

In [27]:
df_test

      stock  holiday  unpredictability_score  Year  Month  Day
0         0        0                       7  2019     11    1
1         0        0                       7  2019     11    4
2         0        0                       7  2019     11    5
3         0        0                       7  2019     11    6
4         0        0                       7  2019     11    7
...     ...      ...                     ...   ...    ...  ...
4218    102        0                       6  2019     12   24
4219    102        1                       6  2019     12   26
4220    102        0                       6  2019     12   27
4221    102        0                       6  2019     12   30
4222    102        0                       6  2019     12   31

[4223 rows x 6 columns]

In [28]:
target=df_train['Close']
df_train.drop(columns='Close',inplace=True)
df_train

       stock  holiday  unpredictability_score  Year  Month  Day
0          0        1                       7  2017      1    3
1          0        0                       7  2017      1    4
2          0        0                       7  2017      1    5
3          0        0                       7  2017      1    6
4          0        0                       7  2017      1    9
...      ...      ...                     ...   ...    ...  ...
73434    102        0                       6  2019     10   25
73435    102        0                       6  2019     10   28
73436    102        0                       6  2019     10   29
73437    102        0                       6  2019     10   30
73438    102        0                       6  2019     10   31

[73439 rows x 6 columns]

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
sc=StandardScaler()

In [32]:
train_scaled=pd.DataFrame(sc.fit_transform(df_train))
train_scaled.columns=df_train.columns
train_scaled.index=df_train.index

In [33]:
train_scaled

,stock,holiday,unpredictability_score,Year,Month,Day
0,-1.715316,4.048487,0.863984,-1.175457,-1.591993,-1.460835
1,-1.715316,-0.247006,0.863984,-1.175457,-1.591993,-1.346590
2,-1.715316,-0.247006,0.863984,-1.175457,-1.591993,-1.232344
3,-1.715316,-0.247006,0.863984,-1.175457,-1.591993,-1.118099
4,-1.715316,-0.247006,0.863984,-1.175457,-1.591993,-0.775363
...,...,...,...,...,...,...
73434,1.715316,-0.247006,0.519060,1.315184,1.142434,1.052564
73435,1.715316,-0.247006,0.519060,1.315184,1.142434,1.395300
73436,1.715316,-0.247006,0.519060,1.315184,1.142434,1.509545
73437,1.715316,-0.247006,0.519060,1.315184,1.142434,1.623791
73438,1.715316,-0.247006,0.519060,1.315184,1.142434,1.738036

In [34]:
X_test=pd.DataFrame(sc.fit_transform(df_test))
X_test.columns=df_test.columns
X_test.index=df_test.index

In [35]:
X_test

         stock   holiday  unpredictability_score  Year     Month       Day
0    -1.715316 -0.226455                0.863984   0.0 -1.024695 -1.681291
1    -1.715316 -0.226455                0.863984   0.0 -1.024695 -1.329592
2    -1.715316 -0.226455                0.863984   0.0 -1.024695 -1.212359
3    -1.715316 -0.226455                0.863984   0.0 -1.024695 -1.095126
4    -1.715316 -0.226455                0.863984   0.0 -1.024695 -0.977894
...        ...       ...                     ...   ...       ...       ...
4218  1.715316 -0.226455                0.519060   0.0  0.975900  1.015065
4219  1.715316  4.415880                0.519060   0.0  0.975900  1.249531
4220  1.715316 -0.226455                0.519060   0.0  0.975900  1.366763
4221  1.715316 -0.226455                0.519060   0.0  0.975900  1.718462
4222  1.715316 -0.226455                0.519060   0.0  0.975900  1.835695

[4223 rows x 6 columns]

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_valid,y_train,y_valid=train_test_split(train_scaled,target,test_size=0.2,random_state=24)

In [39]:
X_train.shape

(58751, 6)

In [40]:
X_valid.shape

(14688, 6)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
predict=lr.predict(X_valid)
predict

array([107.65708347,  40.02052621,  96.83365954, ...,  97.01580461,
        76.9168774 , 103.12654096])

In [44]:
y_valid

37518     70.0765
42203     47.9928
72546    130.9994
34112    129.0114
21285     45.8205
           ...
1425      45.6817
39510     78.7477
70000     89.4420
11428     44.3441
631      112.5716
Name: Close, Length: 14688, dtype: float64

In [45]:
from sklearn.metrics import mean_squared_error

In [46]:
from math import sqrt

In [47]:
sqrt(mean_squared_error(predict,y_valid))

26.44985781694249

In [49]:
submissions=pd.read_csv('SampleSubmission.csv')
submissions['Close']=lr.predict(X_test)

In [51]:
submissions.to_csv('LinearReg.csv',index=False)

In [52]:
from sklearn.tree import DecisionTreeRegressor

In [83]:
dt=DecisionTreeRegressor()

In [84]:
dt.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [85]:
predict=dt.predict(X_valid)

In [86]:
sqrt(mean_squared_error(y_valid,predict))

1.193609115123086

In [95]:
dt.fit(train_scaled,target)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [96]:
submissions['Close']=dt.predict(X_test)
submissions.to_csv('DecisionTree1.csv',index=False)

In [87]:
from sklearn.ensemble import RandomForestRegressor

In [92]:
rf=RandomForestRegressor(n_estimators=1000)
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [93]:
predict=rf.predict(X_valid)
sqrt(mean_squared_error(y_valid,predict))

1.0125783164461633

In [94]:
submissions['Close']=rf.predict(X_test)
submissions.to_csv('RandomForest.csv',index=False)

In [97]:
from sklearn.svm import SVR

In [98]:
sv=SVR()

In [99]:
sv.fit(X_train,y_train)

C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [100]:
predict=sv.predict(X_valid)
sqrt(mean_squared_error(y_valid,predict))

25.834013527643716

In [101]:
from xgboost import XGBRegressor

In [118]:
xgb=XGBRegressor(learning_rate=0.3,max_depth=4)
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.3, max_delta_step=0, max_depth=4,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [119]:
predict=xgb.predict(X_valid)
sqrt(mean_squared_error(y_valid,predict))

4.759058873607342

In [115]:
submissions['Close']=xgb.predict(X_test)
submissions.to_csv('XGB.csv',index=False)