In [121]:
import numpy as np
import pandas as pd

In [122]:
df=pd.read_csv('train.csv')
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [123]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [124]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# Handling Missing Values

In [125]:
df['Item_Weight']=df['Item_Weight'].fillna(df['Item_Weight'].mean())
df['Item_Weight'].isna().any()

False

In [126]:
df['Outlet_Size'].mode()

0    Medium
dtype: object

In [127]:
df['Outlet_Size']=df['Outlet_Size'].fillna('Medium')

In [128]:
df.isna().any()

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

# Dealing with Categorical data

In [129]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [130]:
a={'Low Fat':0,'Regular':1,'low fat':0,'LF':0,'reg':1}

In [131]:
df['Item_Fat_Content']=df['Item_Fat_Content'].map(a)
df['Item_Fat_Content']

0       0
1       1
2       0
3       1
4       0
       ..
8518    0
8519    1
8520    0
8521    1
8522    0
Name: Item_Fat_Content, Length: 8523, dtype: int64

In [132]:
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [133]:
dummy=pd.get_dummies(df['Item_Type'],drop_first=True)
dummy

,Breads,Breakfast,Canned,Dairy,Frozen Foods,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
8519,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8520,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8521,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
8522,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [147]:
df=pd.concat([df,dummy],axis=1)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,FDA15,0.282525,0,0.016047,Dairy,249.8092,OUT049,0.583333,1,3735.1380,...,0,0,0,0,0,0,0,0,0,0
1,DRC01,0.081274,1,0.019278,Soft Drinks,48.2692,OUT018,1.000000,1,443.4228,...,0,0,0,0,0,0,0,0,1,0
2,FDN15,0.770765,0,0.016760,Meat,141.6180,OUT049,0.583333,1,2097.2700,...,0,0,0,0,1,0,0,0,0,0
3,FDX07,0.871986,1,0.000000,Fruits and Vegetables,182.0950,OUT010,0.541667,1,732.3800,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,0.260494,0,0.000000,Household,53.8614,OUT013,0.083333,2,994.7052,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,0.137541,0,0.056783,Snack Foods,214.5218,OUT013,0.083333,2,2778.3834,...,0,0,0,0,0,0,0,1,0,0
8519,FDS36,0.227746,1,0.046982,Baking Goods,108.1570,OUT045,0.708333,1,549.2850,...,0,0,0,0,0,0,0,0,0,0
8520,NCJ29,0.359929,0,0.035186,Health and Hygiene,85.1224,OUT035,0.791667,0,1193.1136,...,0,0,1,0,0,0,0,0,0,0
8521,FDN46,0.158083,1,0.145221,Snack Foods,103.1332,OUT018,1.000000,1,1845.5976,...,0,0,0,0,0,0,0,1,0,0
8522,DRG01,0.610003,0,0.044878,Soft Drinks,75.4670,OUT046,0.500000,0,765.6700,...,0,0,0,0,0,0,0,0,1,0

In [148]:
df=df.drop(columns=['Item_Type'])
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Item_Outlet_Sales,Outlet_Location_Type_Tier 2,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,FDA15,0.282525,0,0.016047,249.8092,OUT049,0.583333,1,3735.1380,0,...,0,0,0,0,0,0,0,0,0,0
1,DRC01,0.081274,1,0.019278,48.2692,OUT018,1.000000,1,443.4228,0,...,0,0,0,0,0,0,0,0,1,0
2,FDN15,0.770765,0,0.016760,141.6180,OUT049,0.583333,1,2097.2700,0,...,0,0,0,0,1,0,0,0,0,0
3,FDX07,0.871986,1,0.000000,182.0950,OUT010,0.541667,1,732.3800,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,0.260494,0,0.000000,53.8614,OUT013,0.083333,2,994.7052,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,0.137541,0,0.056783,214.5218,OUT013,0.083333,2,2778.3834,0,...,0,0,0,0,0,0,0,1,0,0
8519,FDS36,0.227746,1,0.046982,108.1570,OUT045,0.708333,1,549.2850,1,...,0,0,0,0,0,0,0,0,0,0
8520,NCJ29,0.359929,0,0.035186,85.1224,OUT035,0.791667,0,1193.1136,1,...,0,0,1,0,0,0,0,0,0,0
8521,FDN46,0.158083,1,0.145221,103.1332,OUT018,1.000000,1,1845.5976,0,...,0,0,0,0,0,0,0,1,0,0
8522,DRG01,0.610003,0,0.044878,75.4670,OUT046,0.500000,0,765.6700,0,...,0,0,0,0,0,0,0,0,1,0

In [135]:
df['Outlet_Size']=df['Outlet_Size'].map({'Small':0,'Medium':1,'High':2})
df['Outlet_Size']

0       1
1       1
2       1
3       1
4       2
       ..
8518    2
8519    1
8520    0
8521    1
8522    0
Name: Outlet_Size, Length: 8523, dtype: int64

In [136]:
dummy1=pd.get_dummies(df[['Outlet_Location_Type','Outlet_Type']],drop_first=True)
dummy1

,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0,0,1,0,0
1,0,1,0,1,0
2,0,0,1,0,0
3,0,1,0,0,0
4,0,1,1,0,0
...,...,...,...,...,...
8518,0,1,1,0,0
8519,1,0,1,0,0
8520,1,0,1,0,0
8521,0,1,0,1,0
8522,0,0,1,0,0

In [137]:
df=pd.concat([df,dummy1],axis=1)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,9.300,0,0.016047,Dairy,249.8092,OUT049,1999,1,Tier 1,Supermarket Type1,3735.1380,0,0,1,0,0
1,DRC01,5.920,1,0.019278,Soft Drinks,48.2692,OUT018,2009,1,Tier 3,Supermarket Type2,443.4228,0,1,0,1,0
2,FDN15,17.500,0,0.016760,Meat,141.6180,OUT049,1999,1,Tier 1,Supermarket Type1,2097.2700,0,0,1,0,0
3,FDX07,19.200,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,1,Tier 3,Grocery Store,732.3800,0,1,0,0,0
4,NCD19,8.930,0,0.000000,Household,53.8614,OUT013,1987,2,Tier 3,Supermarket Type1,994.7052,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0,0.056783,Snack Foods,214.5218,OUT013,1987,2,Tier 3,Supermarket Type1,2778.3834,0,1,1,0,0
8519,FDS36,8.380,1,0.046982,Baking Goods,108.1570,OUT045,2002,1,Tier 2,Supermarket Type1,549.2850,1,0,1,0,0
8520,NCJ29,10.600,0,0.035186,Health and Hygiene,85.1224,OUT035,2004,0,Tier 2,Supermarket Type1,1193.1136,1,0,1,0,0
8521,FDN46,7.210,1,0.145221,Snack Foods,103.1332,OUT018,2009,1,Tier 3,Supermarket Type2,1845.5976,0,1,0,1,0
8522,DRG01,14.800,0,0.044878,Soft Drinks,75.4670,OUT046,1997,0,Tier 1,Supermarket Type1,765.6700,0,0,1,0,0

In [152]:
df.dtypes

Item_Identifier                   object
Item_Weight                      float64
Item_Fat_Content                   int64
Item_Visibility                  float64
Item_MRP                         float64
Outlet_Identifier                 object
Outlet_Establishment_Year        float64
Outlet_Size                        int64
Item_Outlet_Sales                float64
Outlet_Location_Type_Tier 2        uint8
Outlet_Location_Type_Tier 3        uint8
Outlet_Type_Supermarket Type1      uint8
Outlet_Type_Supermarket Type2      uint8
Outlet_Type_Supermarket Type3      uint8
Breads                             uint8
Breakfast                          uint8
Canned                             uint8
Dairy                              uint8
Frozen Foods                       uint8
Fruits and Vegetables              uint8
Hard Drinks                        uint8
Health and Hygiene                 uint8
Household                          uint8
Meat                               uint8
Others                             uint8
Seafood                            uint8
Snack Foods                        uint8
Soft Drinks                        uint8
Starchy Foods                      uint8
dtype: object

# Standardising the columns

In [153]:
minIW=df['Item_Weight'].min()
rangeIW=df['Item_Weight'].max()-df['Item_Weight'].min()
df['Item_Weight']=(df['Item_Weight']-minIW)/rangeIW
df['Item_Weight']

0       0.282525
1       0.081274
2       0.770765
3       0.871986
4       0.260494
          ...
8518    0.137541
8519    0.227746
8520    0.359929
8521    0.158083
8522    0.610003
Name: Item_Weight, Length: 8523, dtype: float64

In [154]:
minEY=df['Outlet_Establishment_Year'].min()
rangeEY=df['Outlet_Establishment_Year'].max()-df['Outlet_Establishment_Year'].min()
df['Outlet_Establishment_Year']=(df['Outlet_Establishment_Year']-minEY)/rangeEY
df['Outlet_Establishment_Year']

0       0.583333
1       1.000000
2       0.583333
3       0.541667
4       0.083333
          ...
8518    0.083333
8519    0.708333
8520    0.791667
8521    1.000000
8522    0.500000
Name: Outlet_Establishment_Year, Length: 8523, dtype: float64

In [155]:
X=df.drop(columns=['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])
y=df['Item_Outlet_Sales']
X

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,0.282525,0,0.016047,249.8092,0.583333,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.081274,1,0.019278,48.2692,1.000000,1,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
2,0.770765,0,0.016760,141.6180,0.583333,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0.871986,1,0.000000,182.0950,0.541667,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0.260494,0,0.000000,53.8614,0.083333,2,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0.137541,0,0.056783,214.5218,0.083333,2,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
8519,0.227746,1,0.046982,108.1570,0.708333,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8520,0.359929,0,0.035186,85.1224,0.791667,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
8521,0.158083,1,0.145221,103.1332,1.000000,1,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
8522,0.610003,0,0.044878,75.4670,0.500000,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [156]:
y

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [157]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [158]:
from sklearn.linear_model import LinearRegression

In [159]:
lr=LinearRegression()

In [160]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
lr.score(X_test,y_test)

0.5796923630268396

In [161]:
model=LinearRegression()

In [162]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Importing test data and performing EDA

In [163]:
df1=pd.read_csv('test.csv')
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [164]:
df1.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [165]:
df1['Item_Weight']=df1['Item_Weight'].fillna(df1['Item_Weight'].mean())
df1['Item_Weight'].isna().any()

False

In [166]:
df1['Outlet_Size'].mode()

0    Medium
dtype: object

In [167]:
df1['Outlet_Size']=df1['Outlet_Size'].fillna('Medium')
df1.isna().any()

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
dtype: bool

In [168]:
df1['Item_Fat_Content'].unique()

array(['Low Fat', 'reg', 'Regular', 'LF', 'low fat'], dtype=object)

In [169]:
a={'Low Fat':0,'Regular':1,'low fat':0,'LF':0,'reg':1}
df1['Item_Fat_Content']=df1['Item_Fat_Content'].map(a)
df1['Item_Fat_Content']

0       0
1       1
2       0
3       0
4       1
       ..
5676    1
5677    1
5678    0
5679    1
5680    1
Name: Item_Fat_Content, Length: 5681, dtype: int64

In [170]:
dummy2=pd.get_dummies(df1[['Item_Type','Outlet_Location_Type','Outlet_Type']],drop_first=True)
dummy2

,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
5677,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0
5678,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0
5679,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
5680,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0

In [171]:
df1=pd.concat([df1,dummy2],axis=1)
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,...,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDW58,20.750000,0,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,...,0,0,1,0,0,0,0,1,0,0
1,FDW14,8.300000,1,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,...,0,0,0,0,0,1,0,1,0,0
2,NCN55,14.600000,0,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,...,1,0,0,0,0,0,1,0,0,0
3,FDQ58,7.315000,0,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,...,0,0,1,0,0,1,0,1,0,0
4,FDY38,12.695633,1,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500000,1,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,...,0,0,1,0,0,0,0,1,0,0
5677,FDD47,7.600000,1,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,...,0,0,0,0,1,0,1,0,1,0
5678,NCO17,10.000000,0,0.073529,Health and Hygiene,118.7440,OUT045,2002,Medium,Tier 2,...,0,0,0,0,0,1,0,1,0,0
5679,FDJ26,15.300000,1,0.000000,Canned,214.6218,OUT017,2007,Medium,Tier 2,...,0,0,0,0,0,1,0,1,0,0
5680,FDU37,9.500000,1,0.104720,Canned,79.7960,OUT045,2002,Medium,Tier 2,...,0,0,0,0,0,1,0,1,0,0

In [172]:
df1=df1.drop(columns=['Item_Type','Outlet_Location_Type','Outlet_Type'])
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Item_Type_Breads,Item_Type_Breakfast,...,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDW58,20.750000,0,0.007565,107.8622,OUT049,1999,Medium,0,0,...,0,0,1,0,0,0,0,1,0,0
1,FDW14,8.300000,1,0.038428,87.3198,OUT017,2007,Medium,0,0,...,0,0,0,0,0,1,0,1,0,0
2,NCN55,14.600000,0,0.099575,241.7538,OUT010,1998,Medium,0,0,...,1,0,0,0,0,0,1,0,0,0
3,FDQ58,7.315000,0,0.015388,155.0340,OUT017,2007,Medium,0,0,...,0,0,1,0,0,1,0,1,0,0
4,FDY38,12.695633,1,0.118599,234.2300,OUT027,1985,Medium,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500000,1,0.013496,141.3154,OUT046,1997,Small,0,0,...,0,0,1,0,0,0,0,1,0,0
5677,FDD47,7.600000,1,0.142991,169.1448,OUT018,2009,Medium,0,0,...,0,0,0,0,1,0,1,0,1,0
5678,NCO17,10.000000,0,0.073529,118.7440,OUT045,2002,Medium,0,0,...,0,0,0,0,0,1,0,1,0,0
5679,FDJ26,15.300000,1,0.000000,214.6218,OUT017,2007,Medium,0,0,...,0,0,0,0,0,1,0,1,0,0
5680,FDU37,9.500000,1,0.104720,79.7960,OUT045,2002,Medium,0,0,...,0,0,0,0,0,1,0,1,0,0

In [173]:
df1['Outlet_Size']=df1['Outlet_Size'].map({'Small':0,'Medium':1,'High':2})
df1['Outlet_Size']

0       1
1       1
2       1
3       1
4       1
       ..
5676    0
5677    1
5678    1
5679    1
5680    1
Name: Outlet_Size, Length: 5681, dtype: int64

In [174]:
minIW1=df1['Item_Weight'].min()
rangeIW1=df1['Item_Weight'].max()-df1['Item_Weight'].min()
df1['Item_Weight']=(df1['Item_Weight']-minIW1)/rangeIW1
df1['Item_Weight']

0       0.964275
1       0.222983
2       0.598095
3       0.164335
4       0.484706
          ...
5676    0.353974
5677    0.181304
5678    0.324204
5679    0.639774
5680    0.294433
Name: Item_Weight, Length: 5681, dtype: float64

In [175]:
minEY1=df1['Outlet_Establishment_Year'].min()
rangeEY1=df1['Outlet_Establishment_Year'].max()-df1['Outlet_Establishment_Year'].min()
df1['Outlet_Establishment_Year']=(df1['Outlet_Establishment_Year']-minEY1)/rangeEY1
df1['Outlet_Establishment_Year']

0       0.583333
1       0.916667
2       0.541667
3       0.916667
4       0.000000
          ...
5676    0.500000
5677    1.000000
5678    0.708333
5679    0.916667
5680    0.708333
Name: Outlet_Establishment_Year, Length: 5681, dtype: float64

In [176]:
X_test=df1.drop(columns=['Item_Identifier','Outlet_Identifier'])
X_test

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0.964275,0,0.007565,107.8622,0.583333,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0.222983,1,0.038428,87.3198,0.916667,1,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
2,0.598095,0,0.099575,241.7538,0.541667,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
3,0.164335,0,0.015388,155.0340,0.916667,1,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
4,0.484706,1,0.118599,234.2300,0.000000,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,0.353974,1,0.013496,141.3154,0.500000,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
5677,0.181304,1,0.142991,169.1448,1.000000,1,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
5678,0.324204,0,0.073529,118.7440,0.708333,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
5679,0.639774,1,0.000000,214.6218,0.916667,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
5680,0.294433,1,0.104720,79.7960,0.708333,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

# Predicting on X_test

In [177]:
predictions=model.predict(X_test)

In [178]:
predictions

array([-170.81828742, 1117.18163199, 2117.84873101, ...,    5.94495006,
       3499.27645113, 1354.77308351])

In [179]:
result=df1[['Item_Identifier','Outlet_Identifier']]
result

     Item_Identifier Outlet_Identifier
0              FDW58            OUT049
1              FDW14            OUT017
2              NCN55            OUT010
3              FDQ58            OUT017
4              FDY38            OUT027
...              ...               ...
5676           FDB58            OUT046
5677           FDD47            OUT018
5678           NCO17            OUT045
5679           FDJ26            OUT017
5680           FDU37            OUT045

[5681 rows x 2 columns]

In [180]:
result['Item_Outlet_Sales']=predictions
result

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        -170.818287
1              FDW14            OUT017        1117.181632
2              NCN55            OUT010        2117.848731
3              FDQ58            OUT017         569.537555
4              FDY38            OUT027        3542.812073
...              ...               ...                ...
5676           FDB58            OUT046         411.830194
5677           FDD47            OUT018        1001.749361
5678           NCO17            OUT045           5.944950
5679           FDJ26            OUT017        3499.276451
5680           FDU37            OUT045        1354.773084

[5681 rows x 3 columns]

In [120]:
result.to_csv('final.csv',index=False)