In [ ]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Importing Train dataset

In [100]:
df=pd.read_csv('train.csv')
df

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...
88853,F00155935,3337,1,0,2,10,12.0,44,3,0
88854,F00155938,3516,1,0,2,10,20.0,38,1,0
88855,F00155939,3516,1,0,2,15,40.0,8,2,0
88856,F00155942,3702,1,0,2,10,25.0,18,3,0
88857,F00155945,3895,1,0,2,20,37.0,7,3,0

In [101]:
df.isna().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

# Dealing with missing values

In [102]:
df1=df.fillna(df['Number_Weeks_Used'].median())
df1

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...
88853,F00155935,3337,1,0,2,10,12.0,44,3,0
88854,F00155938,3516,1,0,2,10,20.0,38,1,0
88855,F00155939,3516,1,0,2,15,40.0,8,2,0
88856,F00155942,3702,1,0,2,10,25.0,18,3,0
88857,F00155945,3895,1,0,2,20,37.0,7,3,0

In [103]:
df1.isna().any()

ID                         False
Estimated_Insects_Count    False
Crop_Type                  False
Soil_Type                  False
Pesticide_Use_Category     False
Number_Doses_Week          False
Number_Weeks_Used          False
Number_Weeks_Quit          False
Season                     False
Crop_Damage                False
dtype: bool

In [104]:
X=df1.drop(columns=['ID','Crop_Damage'])
X

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,188,1,0,1,0,0.0,0,1
1,209,1,0,1,0,0.0,0,2
2,257,1,0,1,0,0.0,0,2
3,257,1,1,1,0,0.0,0,2
4,342,1,0,1,0,0.0,0,2
...,...,...,...,...,...,...,...,...
88853,3337,1,0,2,10,12.0,44,3
88854,3516,1,0,2,10,20.0,38,1
88855,3516,1,0,2,15,40.0,8,2
88856,3702,1,0,2,10,25.0,18,3
88857,3895,1,0,2,20,37.0,7,3

In [105]:
y=df1['Crop_Damage']
y

0        0
1        1
2        1
3        1
4        1
        ..
88853    0
88854    0
88855    0
88856    0
88857    0
Name: Crop_Damage, Length: 88858, dtype: int64

In [106]:
X.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
count,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000
mean,1399.012210,0.284375,0.458417,2.264186,25.849952,28.560771,9.589986,1.896959
std,849.048781,0.451119,0.498271,0.461772,15.554428,11.749075,9.900631,0.701322
min,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000
50%,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000
75%,1898.000000,1.000000,1.000000,3.000000,40.000000,36.000000,16.000000,2.000000
max,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000

# Scaling X

In [107]:
s=MinMaxScaler()

In [108]:
new_X=pd.DataFrame(s.fit_transform(X))

In [109]:
new_X.columns=X.columns
new_X

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,0.009628,1.0,0.0,0.0,0.000000,0.000000,0.00,0.0
1,0.014948,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
2,0.027109,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
3,0.027109,1.0,1.0,0.0,0.000000,0.000000,0.00,0.5
4,0.048645,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
...,...,...,...,...,...,...,...,...
88853,0.807449,1.0,0.0,0.5,0.105263,0.179104,0.88,1.0
88854,0.852800,1.0,0.0,0.5,0.105263,0.298507,0.76,0.0
88855,0.852800,1.0,0.0,0.5,0.157895,0.597015,0.16,0.5
88856,0.899924,1.0,0.0,0.5,0.105263,0.373134,0.36,1.0
88857,0.948822,1.0,0.0,0.5,0.210526,0.552239,0.14,1.0

In [110]:
new_X.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
count,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000
mean,0.316446,0.284375,0.458417,0.632093,0.272105,0.426280,0.191800,0.448480
std,0.215112,0.451119,0.498271,0.230886,0.163731,0.175359,0.198013,0.350661
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.147200,0.000000,0.000000,0.500000,0.157895,0.298507,0.000000,0.000000
50%,0.269065,0.000000,0.000000,0.500000,0.210526,0.417910,0.140000,0.500000
75%,0.442868,1.000000,1.000000,1.000000,0.421053,0.537313,0.320000,0.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [111]:
y.describe()

count    88858.000000
mean         0.190562
std          0.454215
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: Crop_Damage, dtype: float64

In [112]:
X_train,X_test,y_train,y_test=train_test_split(new_X,y,test_size=0.2)

# Naive Bayes

In [124]:
from sklearn.naive_bayes import GaussianNB

In [128]:
model=GaussianNB()

In [129]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
prediction=model.predict(X_test)
prediction=pd.DataFrame({'pred':prediction})
prediction['pred'].value_counts()

In [131]:
model.score(X_test,y_test)

0.824611748818366

In [134]:
final_model=GaussianNB()

In [136]:
final_model.fit(new_X,y)

GaussianNB(priors=None, var_smoothing=1e-09)

# Importing test.csv and performing EDA

In [41]:
df_test=pd.read_csv('test.csv')

In [42]:
df_test

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,F00000002,188,1,1,1,0,NaN,0,2
1,F00000007,410,1,1,1,0,0.0,0,2
2,F00000011,626,1,0,1,0,0.0,0,2
3,F00000013,731,1,0,1,0,0.0,0,2
4,F00000014,789,0,0,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...,...
59305,F00155937,3337,1,0,2,20,34.0,12,1
59306,F00155940,3516,1,0,2,20,32.0,10,2
59307,F00155941,3702,1,0,2,10,NaN,48,1
59308,F00155943,3702,1,0,2,10,28.0,17,2
59309,F00155944,3895,1,0,2,5,52.0,7,1

In [43]:
df_test.isna().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          5893
Number_Weeks_Quit             0
Season                        0
dtype: int64

In [44]:
df_test.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
count,59310.000000,59310.000000,59310.000000,59310.000000,59310.000000,53417.000000,59310.000000,59310.000000
mean,1397.014129,0.287068,0.455117,2.263227,25.851880,28.705094,9.528376,1.900877
std,849.425808,0.452397,0.497986,0.461733,15.481957,12.421211,9.855341,0.701934
min,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000
50%,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000
75%,1898.000000,1.000000,1.000000,3.000000,40.000000,38.000000,16.000000,2.000000
max,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000

In [45]:
df_test1=df_test.fillna(df_test['Number_Weeks_Used'].median())
df_test1

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,F00000002,188,1,1,1,0,28.0,0,2
1,F00000007,410,1,1,1,0,0.0,0,2
2,F00000011,626,1,0,1,0,0.0,0,2
3,F00000013,731,1,0,1,0,0.0,0,2
4,F00000014,789,0,0,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...,...
59305,F00155937,3337,1,0,2,20,34.0,12,1
59306,F00155940,3516,1,0,2,20,32.0,10,2
59307,F00155941,3702,1,0,2,10,28.0,48,1
59308,F00155943,3702,1,0,2,10,28.0,17,2
59309,F00155944,3895,1,0,2,5,52.0,7,1

In [47]:
df_test1.isna().any()

ID                         False
Estimated_Insects_Count    False
Crop_Type                  False
Soil_Type                  False
Pesticide_Use_Category     False
Number_Doses_Week          False
Number_Weeks_Used          False
Number_Weeks_Quit          False
Season                     False
dtype: bool

In [48]:
df_test1=df_test1.drop(columns=['ID'])
df_test1

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,188,1,1,1,0,28.0,0,2
1,410,1,1,1,0,0.0,0,2
2,626,1,0,1,0,0.0,0,2
3,731,1,0,1,0,0.0,0,2
4,789,0,0,1,0,0.0,0,1
...,...,...,...,...,...,...,...,...
59305,3337,1,0,2,20,34.0,12,1
59306,3516,1,0,2,20,32.0,10,2
59307,3702,1,0,2,10,28.0,48,1
59308,3702,1,0,2,10,28.0,17,2
59309,3895,1,0,2,5,52.0,7,1

In [51]:
s1=MinMaxScaler()

In [52]:
test_X=pd.DataFrame(s1.fit_transform(df_test1))

In [53]:
test_X.columns=df_test1.columns
test_X

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,0.009628,1.0,1.0,0.0,0.000000,0.417910,0.00,0.5
1,0.065873,1.0,1.0,0.0,0.000000,0.000000,0.00,0.5
2,0.120598,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
3,0.147200,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
4,0.161895,0.0,0.0,0.0,0.000000,0.000000,0.00,0.0
...,...,...,...,...,...,...,...,...
59305,0.807449,1.0,0.0,0.5,0.210526,0.507463,0.24,0.0
59306,0.852800,1.0,0.0,0.5,0.210526,0.477612,0.20,0.5
59307,0.899924,1.0,0.0,0.5,0.105263,0.417910,0.96,0.0
59308,0.899924,1.0,0.0,0.5,0.105263,0.417910,0.34,0.5
59309,0.948822,1.0,0.0,0.5,0.052632,0.776119,0.14,0.0

In [137]:
final_predictions=final_model.predict(test_X)
final_predictions

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [138]:
final_df=df_test[['ID']]
final_df

              ID
0      F00000002
1      F00000007
2      F00000011
3      F00000013
4      F00000014
...          ...
59305  F00155937
59306  F00155940
59307  F00155941
59308  F00155943
59309  F00155944

[59310 rows x 1 columns]

In [139]:
final_df['Crop_Damage']=final_predictions
final_df

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

              ID  Crop_Damage
0      F00000002            0
1      F00000007            0
2      F00000011            0
3      F00000013            0
4      F00000014            0
...          ...          ...
59305  F00155937            0
59306  F00155940            0
59307  F00155941            0
59308  F00155943            0
59309  F00155944            1

[59310 rows x 2 columns]

In [142]:
final_df.to_csv('submission.csv',index=False)